@import '../../styles/_breakpoints.scss';

nav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 1px 0px 3px 3px #4f4f4f;

  svg {
    padding-top: 1em;
    width: 110px;
    height: 60px;
  }
  

  .nav-container {
    width: 95%;
    margin: 0 auto;
  }

  ul {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    color: rgba(34,34,34, 0.6);

    a {
      text-decoration: none;
      margin: 0 1em;
    }

    a.nav-bar:hover {
      transform: translateX(1em) scale(1.2);
      transition: .6s;
    }

    .nav-menu {
      a:hover {
        cursor: pointer;
        color: #068DC2;
      }
    }
    
  }

  
}


