#address{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #4f4f4f;

    .align-container {
        width: fit-content;
        margin: 0 auto;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            // position: relative;
            justify-content: space-between;
            flex-direction: row;            
            list-style: none;
            align-items: center;
                
                .logo {
                    margin: 0 2em 0 0;
                    // no longer using a SVG
                    svg {
                        padding-top: 1em;
                    }
                    
                    a img {
                        padding: 1em 0;;
                    }
                }
                .social-network {
                    .address{
                        // border: solid 2px gray;
                        // background-color: gray;
                        p {
                            font-size: 20px;
                            font-weight: bold;
                            color: rgb(190, 170, 170);
                            // filter: drop-shadow(0 0 1px black);
                        }
                    } 
                    .align-Icon {
                        a {
                            border: solid 2px 2px black;
                            text-decoration: none;
                            margin: 0 1em;
                        }
                    }
                }
        }
    }
}